*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

/* repeated apper elements  */

.description{
    text-align: center;
    font: normal normal 500 15px/30px Noto Serif JP;
    letter-spacing: 0px;
    color: #696969;
    padding: 70px 0;
}

/* ranking repeatedly appear */

.company h3{
    text-align: center;
    font: normal normal bold 24px/26px Noto Serif JP;
    color: #696969;
    height: 40px;
    width: 155px;
    margin: 0 auto;
    border-bottom: 2.4px solid #E6DA95;
}
.ranking{
    padding-top: 50px;
    margin: 0 auto;
    }
.middle{
    align-items: center;
    margin: 0 auto;
}
.ranking div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:450px;
    text-align: center;
}
.middle p{
    display: inline-block;
    text-align: left;
}
.text{
    text-align: left;
    font: normal normal bold 16px/60px Noto Serif JP;
    padding-left: 10px;
    color: #696969;
    white-space: normal;
}

.title::before{
    content: "";
    width: 70px;
    height: 70px;
    background: url(../images/awarddec.svg) 0 no-repeat;
    display: block;
    transform: scaleX(-1);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 0 0;
}
.titleline{
    height: 2px;
    width: 62%;
    background: #e6da95;
    border: none;
    margin: 10px auto;
    display: block;
}
.title::after{
    content: "";
    width: 70px;
    height: 70px;
    background: url(../images/awarddec.svg) 0 no-repeat;
    display: block;
}

.title p{
    text-align: center;
    font: normal normal bold 24px/26px Noto Serif JP;
    color: #696969;
    height: 40px;
    border-bottom: 2.4px solid #E6DA95;
    margin-top: 5px;
}

/* comment repeatedly appear */

.comment h3{
    text-align: center;
    font: normal normal bold 24px/26px Noto Serif JP;
    color: #696969;
    height: 40px;
    width: 300px;
    margin: 0 auto;
    border-bottom: 2.4px solid #E6DA95;
    padding-top: 70px;
}
.commentborder{
    padding-top: 70px;
}
.up{
    background-image: url(../images/up.svg),url(../images/down.svg);
    background-position: center top,center bottom;
    background-repeat: no-repeat,no-repeat;
    height: fit-content;
    background-size: contain;
    padding: 0.1px;
}
/* UNSOLVED why the border is always the 70% of the screen size while I did not set the value */
.cenbor{
    background-image: url(../images/center.svg);
    background-repeat: repeat-y;
    margin: 34px auto;
    background-position: center;
    width:98.11%;
}
.commentone{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding: 30px 15px 0;
}
.commentone p{
    text-align: left;
    font: normal normal bold 18px/50px Noto Serif JP;
    padding-left: 10px;
    color: #696969;
}
.icon{
    text-align: left;
    margin-left: 3%;
    width:70px;
    height: 70px;
    padding-left: 70px;
    padding-right: 50px;
}
.icon .brand{
    width:120px;
    margin-left: -30px;
    text-align: left;
    margin-top: 10px;
}
/* .icon p{
    padding: 0 45px;
    font: normal normal bold 17px/25px Noto Serif JP;
    color: #696969;
} */
.content{
    text-align: left;

}
.inner{
    display: flex;
    width: 90%;
    padding-top: 20px;
}
.content h4{
    font: normal normal bold 17px/25px Noto Serif JP;
    color: #696969;
    padding-bottom: 15px;
}
.content p{
    font: normal normal 400 15px/30px Noto Serif JP;
    color: #696969;
}
.content p:last-child{
    padding-bottom: 40px;
}
.bg{
    background-image: url(../images/bg.png);
    background-position: center center;
}
.flag{
    background-image: url(../images/flag.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 600px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
}
.flag img{
    padding-top: 70px;
    width: 230px;
    height: 151px;
}
.flag h1{
    font: normal normal 700 44px/60px Noto Serif JP;
    color:#DCB200;
}
.flag p{
    font: normal normal 500 14px/25px Noto Serif JP;
    color:#DCB200;
}
.logo{
    display: flex;
}
.logo img{
    width: 70px;
    padding: 10px;
}
.logo p{
    text-align: left;
    font: normal normal 700 21px/4px Noto Serif JP;
    color: #F0C200;
    padding-top: 32px;
}
.navlist ul{
    display: flex;
}
.navlist li{
    padding-top: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
}
.bar{
    height:70px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    position: sticky;
    top: 0px;
}
.hr a{
    text-align: left;
    font: normal normal 900 20px/29px Noto Serif JP;
    letter-spacing: 0px;
    color: #0A2750;
    text-decoration: underline;
    width: 100px;
    height: 40px;
    border-right: 2.4px solid #F0C200;
    padding: 0 40px;
}
.stu a{
    text-align: left;
    font: normal normal 600 20px/29px Noto Serif JP;
    letter-spacing: 0px;
    color: #2F6922;
    height: 40px;
    border-right: 2.4px solid #F0C200;
    padding: 0 40px;
}
.oth a{
    text-align: left;
    font: normal normal 600 20px/29px Noto Serif JP;
    letter-spacing: 0px;
    color: #90110F;
    padding: 0 40px;
}
.hr a:hover{
    font: normal normal 900 20px/29px Noto Serif JP;
}
.stu a:hover{
    font: normal normal 900 20px/29px Noto Serif JP;
}
.oth a:hover{
    font: normal normal 900 20px/29px Noto Serif JP;
}
.hr a:active{
    text-decoration: underline;
}
.stu a:active{
    text-decoration: underline;
}
.oth a:active{
    text-decoration: underline;
}
.crown{
    text-align: center;
    padding-top: 95px;
}
.airy{
    background-image: url(../images/AIRYAWARD.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}
.airybg{
    height: 60px;
    padding: 80px;
}
.airy h2{
    font: normal normal bold 26px/37px Noto Serif JP;
    color: #696969;
    text-align: center;
    margin-top: 10px;
}
.intro p{
    text-align: center;
    font: normal normal 500 15px/35px Noto Serif JP;
    letter-spacing: 0px;
    color: #696969;
}
.award{
    background-image: url(../images/AWARDCATEGORY.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 50%;
}
.awardcategory{
    height: 60px;
    padding: 110px;
}
.awardcategory h2{
    font: normal normal bold 26px/37px Noto Serif JP;
    color: #696969;
    text-align: center;
    margin-top: 10px;
}
.cate {
    text-align: center;
}
.cateul{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding-bottom: 140px;
}
.cateul li{
    width: 300px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/cate.svg);
    background-position: center center;
}
.cateul a:active{
    text-align: left;
    font: normal normal 900 26px/55px Noto Serif JP;
    letter-spacing: 0px;
    color: #C3A813;
    text-decoration: underline;
}
.cateul a:hover{
    text-align: left;
    font: normal normal 900 26px/55px Noto Serif JP;
    letter-spacing: 0px;
    color: #C3A813;
}
.catehr a{
    text-align: left;
    font: normal normal 900 26px/55px Noto Serif JP;
    letter-spacing: 0px;
    color: #C3A813;
    text-decoration: underline;
}
.catestu{
    text-align: left;
    font: normal normal 600 26px/55px Noto Serif JP;
    letter-spacing: 0px;
    color: #4B4B4D;
}
.cateoth{
    text-align: left;
    font: normal normal 600 26px/55px Noto Serif JP;
    letter-spacing: 0px;
    color: #4B4B4D;
}
.certificate{
    background-image: url(../images/certificate.svg);
    background-size: 100%;
    margin: 0 200px;
    height:fit-content;
    background-repeat: no-repeat;
}
.categorybg{
    background-image: url(../images/HRCATEGORY.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    height: 60px;
    padding: 90px 90px 20px;
    background-size: 40%;
}
.categorybg h2{
    font: normal normal bold 26px/37px Noto Serif JP;
    color: #696969;
    text-align: center;
    margin-top: 20px;
}
.backtotop{
    position: fixed;
    bottom: 50px;
    right: 50px;
}




@media screen and (min-width:320px) and (max-width: 660px){
    .bg{
        background-size: cover;
    }
    .flag{
        width: 370px;
        height: 270px;
    }
    .flag img{
        padding-top: 38px;
        width: 180px;
        height: 90px;
    }
    .flag h1{
        font: normal normal 700 28px/35px Noto Serif JP;
    }
    .flag p{
        font: normal normal 500 10px/17px Noto Serif JP;
        color:#DCB200;
        letter-spacing: -0.5px;
    }
    .bar{
        height:50px;
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }
    .logo p{
        text-align: left;
        font: normal normal 700 13px/13px Noto Serif JP;
        color: #F0C200;
        padding-top: 17px;
    }
    .navlist li{
        padding-top: 10px;
    }
    .logo img{
        width: 40px;
        padding: 10px 2px;
        margin: 0;
    }
    .hr a{
        text-align: left;
        font: normal normal 900 11px/11px Noto Serif JP;
        letter-spacing: 0px;
        color: #0A2750;
        text-decoration: underline;
        border-right: 2.4px solid #F0C200;
        padding: 0 7px;
    }
    .stu a{
        text-align: left;
        font: normal normal 600 11px/11px Noto Serif JP;
        letter-spacing: 0px;
        color: #2F6922;
        border-right: 2.4px solid #F0C200;
        padding: 0 7px;
    }
    .oth a{
        text-align: left;
        font: normal normal 600 11px/11px Noto Serif JP;
        letter-spacing: 0px;
        color: #90110F;
        padding: 0 7px;
    }
    .nav{
        width: 100%;
    }
    .crown{
        padding-top:40px;
    }
    .crown img{
        width: 300px;
        height: 30px
    }
    .airy{
        background-image: url(../images/AIRYAWARD.png);
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        background-size: 60%;
    }
    .airybg{
        height: 30px;
        padding: 40px;
    }
    .airy h2{
        font: normal normal bold 18px/22px Noto Serif JP;
        color: #696969;
        text-align: center;
        margin-top: 5px;
    }
    .intro{
        width: 90%;
        margin: 0 auto;
    }
    .intro p{
        text-align: center;
        font: normal normal 500 10px/25px Noto Serif JP;
        letter-spacing: -0.9px;
        color: #696969;
    }
    .award{
        background-image: url(../images/AWARDCATEGORY.png);
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        background-size: 90%;
    }
    .awardcategory{
        height: 30px;
        padding: 40px;
    }
    .awardcategory h2{
        font: normal normal bold 18px/22px Noto Serif JP;
        color: #696969;
        text-align: center;
        margin-top: 5px;
    }
    .certificate{
        margin: 0 10px;
    }
    .ranking div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 370px;
        text-align: center;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    .title p{
        text-align: center;
        font: normal normal bold 18px/20px Noto Serif JP;
        color: #696969;
        height: 30px;
        border-bottom: 2.4px solid #E6DA95;
        margin-top: 0px;
    }
    
    .categorybg{
        padding: 30px 30px 0px;
        background-size: 40%;
    }
    .categorybg h2{
        font: normal normal bold 22px/26px Noto Serif JP;
        color: #696969;
        text-align: center;
        margin-top: 20px;
    }
    .cateul{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        padding-bottom: 80px;
    }
    .cateul li{
        width: 300px;
        height: 50px;
        margin: 10px auto;
        text-align: center;
        background-repeat: no-repeat;
        background-image: url(../images/cate.svg);
        background-position: center center;
    }
    .cateul a:active{
        text-align: left;
        font: normal normal 900 18px/50px Noto Serif JP;
    }
    .cateul a:hover{
        text-align: left;
        font: normal normal 900 18px/50px Noto Serif JP;
    }
    .catehr a{
        text-align: left;
        font: normal normal 900 18px/50px Noto Serif JP;
    }
    .catestu{
        text-align: left;
        font: normal normal 600 18px/50px Noto Serif JP;
    }
    .cateoth{
        text-align: left;
        font: normal normal 600 18px/50px Noto Serif JP;
    }
    .description{
        font: normal normal 500 10px/25px Noto Serif JP;
        padding: 40px 0;
    }
    .company h3{
        font: normal normal bold 18px/20px Noto Serif JP;
        height: 30px;
        width: 100px;
        margin: 0 auto;
        border-bottom: 2.4px solid #E6DA95;
    }
    .text{
        font: normal normal bold 12px/50px Noto Serif JP;
    }
    .comment h3 {
        font: normal normal bold 18px/20px Noto Serif JP;
        color: #696969;
        height: 30px;
        width: 230px;
        margin: 0 auto;
        padding-top: 40px;
    }
    
    .up{
        background-image: url(../images/up.svg),url(../images/down.svg);
        background-position: center top,center bottom;
        background-repeat: no-repeat,no-repeat;
        height: fit-content;
        background-size: contain;
    }
    .commentone p {
        font: normal normal bold 14px/40px Noto Serif JP;
    }
    .icon {
        width: 70px;
        height: 70px;
        padding-left: 30px;
        padding-right: 20px;
    }
    .content p {
        font: normal normal 400 10px/20px Noto Serif JP;
    }
    .content p:last-child {
        padding-bottom: 20px;
}
.commentone {
    padding: 0;
}
.content h4 {
    font: normal normal bold 12px/20px Noto Serif JP;
    color: #696969;
    padding-bottom:5px;
}
.cenbor{
    background-image: url(../images/center.svg);
    background-repeat: repeat-y;
    margin: 12px auto;
    background-position: center;
    width:98.61%;
}
.detail h3:before{
    left: 0;
}
.detail h3:after {
    right: 0;
}
.detail{
    width: 100%;
    background-color: #f6f5ef;
    padding-top: 60px;
    margin-top: 100px;
}
.detail h3 {
    color: #4b4b4d;
    font: normal normal 600 18px/50px Noto Serif JP;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 450px;
}
.detail .lines {
    width: min(90%,860px);
    margin: 0 auto;
    padding: 50px 0 70px;
}
.detail h3:before{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
}
.detail h3:after{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
}
.lines div{
    text-align: left;
    border-bottom: 2px solid #e6da95;
    display: flex;
    color: #707070;
    font: normal normal 500 12px/20px Noto Serif JP;
    padding: min(3vw, 30px) min(3vw, 120px);
}
.lines div p:first-child{
    font: normal normal 700 12px/20px Noto Serif JP;
    width: 140px;
}
footer {
    text-align: center;
    color: #fff;
    background: #554e39;
    padding: 50px 0 30px;
    display: block;
}
footer p{
    font: normal normal 600 20px/50px Noto Serif JP;
    color: #fff;
    margin: 0 auto;
}
footer img{
    padding-top: 40px;
}
.ftlink a{
    display: block;
    font: normal normal 500 14px/30px Noto Serif JP;
    color: #fff;
    height: 40px;
    width: 180px;
    margin: 30px auto;
    border: 1.5px solid #fff;
    text-align: center;
    line-height: 40px;
}
.ftlink{
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
}

@media screen and (min-width:661px) and (max-width: 960px){
    .bg{
        background-size: cover;
    }
    .flag{
        width: 420px;
        height: 310px;
    }
    .flag img{
        padding-top: 45px;
        width: 200px;
        height: 100px;
    }
    .flag h1{
        font: normal normal 700 35px/45px Noto Serif JP;
    }
    .flag p{
        font: normal normal 500 12px/18px Noto Serif JP;
        color:#DCB200;
        letter-spacing: -0.7px;
    }
    .logo p{
        text-align: left;
        font: normal normal 700 19px/4px Noto Serif JP;
        color: #F0C200;
        padding-top: 32px;
    }
    .hr a{
        text-align: left;
        font: normal normal 900 16px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #0A2750;
        text-decoration: underline;
        height: 40px;
        border-right: 2.4px solid #F0C200;
        padding: 0 20px;
    }
    .stu a{
        text-align: left;
        font: normal normal 600 16px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #2F6922;
        height: 40px;
        border-right: 2.4px solid #F0C200;
        padding: 0 20px;
    }
    .oth a{
        text-align: left;
        font: normal normal 600 16px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #90110F;
        padding: 0 20px;
    }
    .nav{
        width: 96%;
    }
    .crown{
        padding-top:60px;
    }
    .crown img{
        width: 300px;
        height: 50px
    }
    .airybg{
        height: 30px;
        padding: 60px;
    }
    .airy h2{
        font: normal normal bold 22px/22px Noto Serif JP;
        color: #696969;
        text-align: center;
        margin-top: 5px;
    }
    .awardcategory{
        height: 30px;
        padding: 90px;
    }
    .awardcategory h2{
        font: normal normal bold 26px/30px Noto Serif JP;
        color: #696969;
        text-align: center;
        margin-top: 0px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px 0 0 0;
    }
    .categorybg{
        padding: 60px;
        background-size: 40%;
    }
    .certificate{
        margin: 0 20px;
}

.ranking div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 370px;
    text-align: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0 0;
}
.categorybg{
    padding: 30px;
    background-size: 40%;
}
.cateul{
    display:flex;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding-bottom: 80px;
}
.cateul li{
    width: 250px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    background: url(../images/cate.svg) 50%/contain no-repeat;
    background-position: center center;
}
.cateul a:active{
    text-align: left;
    font: normal normal 900 18px/40px Noto Serif JP;
}
.cateul a:hover{
    text-align: left;
    font: normal normal 900 18px/40px Noto Serif JP;
}
.catehr a{
    text-align: left;
    font: normal normal 900 18px/40px Noto Serif JP;
}
.catestu{
    text-align: left;
    font: normal normal 600 18px/40px Noto Serif JP;
}
.cateoth{
    text-align: left;
    font: normal normal 600 18px/40px Noto Serif JP;
}
.detail h3:before{
    left: 0;
}
.detail h3:after {
    right: 0;
}
.detail{
    width: 100%;
    background-color: #f6f5ef;
    padding-top: 60px;
    margin-top: 100px;
}
.detail h3 {
    color: #4b4b4d;
    font: normal normal 600 24px/70px Noto Serif JP;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 450px;
}
.detail .lines {
    width: min(90%,860px);
    margin: 0 auto;
    padding: 50px 0 70px;
}
.detail h3:before{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
}
.detail h3:after{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
}
.lines div{
    text-align: left;
    border-bottom: 2px solid #e6da95;
    display: flex;
    color: #707070;
    font: normal normal 500 15px/30px Noto Serif JP;
    padding: min(3vw, 30px) min(3vw, 120px);
}
.lines div p:first-child{
    font: normal normal 700 15px/30px Noto Serif JP;
    width: 200px;
}
footer {
    text-align: center;
    color: #fff;
    background: #554e39;
    padding: 70px 0 50px;
    display: block;
}
footer p{
    font: normal normal 600 24px/70px Noto Serif JP;
    color: #fff;
    margin: 0 auto;
}
footer img{
    padding-top: 40px;
}
.ftlink a{
    display: block;
    font: normal normal 500 16px/30px Noto Serif JP;
    color: #fff;
    height: 40px;
    width: 200px;
    margin: 40px auto;
    border: 1.5px solid #fff;
    text-align: center;
    line-height: 40px;
}
.ftlink{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
}
@media screen and (min-width:961px) and (max-width: 1440px){
    .bg{
        background-size: cover;
    }
    .flag{
        width: 520px;
        height: 390px;
    }
    .flag img{
        padding-top: 57px;
        width: 210px;
        height: 140px;
    }
    .flag h1{
        font: normal normal 700 41px/52px Noto Serif JP;
    }
    .flag p{
        font: normal normal 500 13px/20px Noto Serif JP;
        color:#DCB200;
    }
    .hr a{
        text-align: left;
        font: normal normal 900 18px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #0A2750;
        text-decoration: underline;
        height: 40px;
        border-right: 2.4px solid #F0C200;
        padding: 0 20px;
    }
    .stu a{
        text-align: left;
        font: normal normal 600 18px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #2F6922;
        height: 40px;
        border-right: 2.4px solid #F0C200;
        padding: 0 20px;
    }
    .oth a{
        text-align: left;
        font: normal normal 600 18px/29px Noto Serif JP;
        letter-spacing: 0px;
        color: #90110F;
        padding: 0 20px;
    }
    .cenbor{
        background-image: url(../images/center.svg);
        background-repeat: repeat-y;
        margin: 26px auto;
        background-position: center;
        width:98.17%;
    }
    .detail h3:before{
        left: 0;
    }
    .detail h3:after {
        right: 0;
    }
    .detail{
        width: 100%;
        background-color: #f6f5ef;
        padding-top: 60px;
        margin-top: 100px;
    }
    .detail h3 {
        color: #4b4b4d;
        font: normal normal 600 24px/70px Noto Serif JP;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 450px;
    }
    .detail .lines {
        width: min(90%,860px);
        margin: 0 auto;
        padding: 50px 0 70px;
    }
    .detail h3:before{
        content: "";
        width: 130px;
        border: 1px solid #e6da95;
        display: block;
        position: absolute;
        top: 50%;
    }
    .detail h3:after{
        content: "";
        width: 130px;
        border: 1px solid #e6da95;
        display: block;
        position: absolute;
        top: 50%;
    }
    .lines div{
        text-align: left;
        border-bottom: 2px solid #e6da95;
        display: flex;
        color: #707070;
        font: normal normal 500 15px/30px Noto Serif JP;
        padding: min(3vw, 30px) min(3vw, 120px);
    }
    .lines div p:first-child{
        font: normal normal 700 15px/30px Noto Serif JP;
        width: 200px;
    }
    footer {
        text-align: center;
        color: #fff;
        background: #554e39;
        padding: 70px 0 50px;
        display: block;
    }
    footer p{
        font: normal normal 600 24px/70px Noto Serif JP;
        color: #fff;
        margin: 0 auto;
    }
    footer img{
        padding-top: 40px;
    }
    .ftlink a{
        display: block;
        font: normal normal 500 16px/30px Noto Serif JP;
        color: #fff;
        height: 40px;
        width: 200px;
        margin: 40px auto;
        border: 1.5px solid #fff;
        text-align: center;
        line-height: 40px;
    }
    .ftlink{
        text-align: center;
        width: 100%;
        padding: 30px 0;
    }
}
@media screen and (min-width:1441px){
.detail h3:before{
    left: 0;
}
.detail h3:after {
    right: 0;
}
.detail{
    width: 100%;
    background-color: #f6f5ef;
    padding-top: 60px;
    margin-top: 100px;
}
.detail h3 {
    color: #4b4b4d;
    font: normal normal 600 24px/70px Noto Serif JP;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 450px;
}
.detail .lines {
    width: min(90%,860px);
    margin: 0 auto;
    padding: 50px 0 70px;
}
.detail h3:before{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
}
.detail h3:after{
    content: "";
    width: 130px;
    border: 1px solid #e6da95;
    display: block;
    position: absolute;
    top: 50%;
    
}
.lines div{
    text-align: left;
    border-bottom: 2px solid #e6da95;
    display: flex;
    color: #707070;
    font: normal normal 500 15px/30px Noto Serif JP;
    padding: min(3vw, 30px) min(3vw, 120px);
}
.lines div p:first-child{
    font: normal normal 700 15px/30px Noto Serif JP;
    width: 200px;
}
footer {
    text-align: center;
    color: #fff;
    background: #554e39;
    padding: 70px 0 50px;
    display: block;
}
footer p{
    font: normal normal 600 24px/70px Noto Serif JP;
    color: #fff;
    margin: 0 auto;
}
footer img{
    padding-top: 40px;
}
.ftlink a{
    display: block;
    font: normal normal 500 16px/30px Noto Serif JP;
    color: #fff;
    height: 40px;
    width: 200px;
    margin: 40px auto;
    border: 1.5px solid #fff;
    text-align: center;
    line-height: 40px;
}
.ftlink{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
}
main{
    display: block;
    height: fit-content;
}